Options -MultiViews

RewriteEngine On
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteBase /cart-shop/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_METHOD} ^(POST|GET|HEAD|PROPFIND|OPTIONS)$

#route -> cart-shop/api/cart/{id | all} || cart-shop/api/item/{id | all}
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^(api/?)([^/]+)/([^/]+) api.php?$2=$3&%1 [L]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^([^/]+)/ $1?%1 [L]