@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

:root {
    --main-accent-colour-light: #f0f0f0;
    --main-colour-light: #ffffff;
    --text-colour-light: #333333;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: var(--text-colour-light);
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a { 
    text-decoration: none;
    color: var(--text-colour-light);
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

.center {
    text-align: center;
}

/* Login & Registration Forms */

.login-form input[type='text'], .login-form input[type='password'],
.registration-form input[type='text'], .registration-form input[type='password'] {
    border: 0;
    border-bottom: 1px solid #B4BECB;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.login-form input:focus, .registration-form input:focus {
    outline: none;
}

.login-form, .registration-form {
    width: 400px;
}

.login-form header, .registration-form header {
    margin-bottom: 10px;
}

.login-form header p, .registration-form header p {
    color: rgb(148, 146, 146);
}

.login-form {
    margin: 0 10px;
    padding-right: 20px;
    border-right: 2px solid var(--main-accent-colour-light);
}

.login-form input[type='submit'] {
    margin-top: 78px;
}

.login-form footer, .registration-form footer {
    display: block;
    margin-top: 20px;
    color: rgb(148, 146, 146);
}

/* Download Conversion */

.download-link, .history {
    width: 100%;
    display: flex;    
    justify-content: center;
}

.download-link a {
    align-self: center;
    border: 1px solid var(--text-colour-light);
    border-radius: 10px;
    padding: 5px 20px;
}

.download-link a:hover {
    background-color: var(--main-colour-light);
}