Options -MultiViews

RewriteEngine On
RewriteBase /cart-shop/api/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_METHOD} ^(POST|GET|PATCH|DELETE)$

#route -> cart-shop/api/cart/{id | all} || cart-shop/api/item/{id | all}
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^([^/]+)/?([^/]+)? index.php?controller=$1&method=$2&%1 [L]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^([^/]+)/ $1?%1 [L]

RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

ErrorDocument 404 /cart-shop/404.php